<div class="container-fluid container-cards-pf container-pf-nav-pf-vertical">
    <ol class="breadcrumb" role="navigation" aria-label="breadcrumbs">
        <li><a href="/"><span class="fa fa-home"></span></a></li>
	<li><a href="/manager">PM Review</a></li>
        <li class="active"><span><?= $eventInfo['name'] . " (" . $eventInfo['year'] . ")" ?> - Booking decissions</span></li>
    </ol>
	<h1>Manage sponsorship proposals for <?= $eventInfo['name'] . " (" . $eventInfo['year'] . ")" ?></h1>
	<?php if((count($unreviewed) + count($granted) + count($rejected)) < 1) { ?>
	<div class="blank-slate-pf">
        <div class="blank-slate-pf-icon">
            <span class="pficon pficon-info"></span>
        </div>
        <h1>No proposals are ready to review.</h1>
        <p>You have to wait for them. Meanwhile you can help with promotion of this event.</p>

	<?php }else{ ?>
			<div class="modal fade" id="responseDetail" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header btn-success" style="background-color: #3f9c35;">
        						<button type="button" class="close close-white" data-dismiss="modal" aria-hidden="true" aria-label="Close">
							        <span class="pficon pficon-close"></span>
						        </button>
			        			<h4 class="modal-title">PM Review: Response</h4>
						</div> <!-- modal header -->
						<div class="modal-body">
							<div class="h2 text-center" id="modalTitle"></div>
							<div class="tab-content">
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" id="tabActive" class="active"><a href="#modalBody" aria-controls="modalBody" role="tab" data-toggle="tab">Proposal</a></li>
								</ul>
								<div class="tab-pane active" id="modalBody"></div>
							</div>
						</div>
					 	<div class="modal-footer">
							<a id="grant" class="btn btn-success">Grant</a>
							<a id="prev" class="btn btn-default">Prev</a>
							<a id="skip" class="btn btn-default">Next</a>
							<a id="reject" class="btn btn-danger">Reject</a>
						</div> <!-- modal footer -->
 					</div> <!-- modal content -->
				</div> <!-- modal dialog -->
			</div> <!-- modal -->
            	<div class="tab-content"><ul class="nav nav-tabs nav-tabs-pf" style="margin-bottom: 8px" role="tablist">
            		<li role="presentation" class="active"><a href="#unreviewed" aria-controls="unreviewed" role="tab" data-toggle="tab">Unreviewed <span class="label label-default" id="unreviewed-count"><?= count($unreviewed) ?></span></a></li>
            		<li role="presentation"><a href="#granted" aria-controls="granted" role="tab" data-toggle="tab">Granted <span class="label label-success" id="granted-count"><?= count($granted) ?></span></a></li>
            		<li role="presentation"><a href="#rejected" aria-controls="rejected" role="tab" data-toggle="tab">Rejected <span class="label label-danger" id="rejected-count"><?= count($rejected) ?></span></a></li>
            	</ul>
		        <div role="tabpanel" class="tab-pane active" id="unreviewed">
                	<table class="table table-striped table-bordered table-hover" id="table-unreviewed" style="background: white; height: auto !important">
        	    		<thead>
        	    			<tr>
        						<th>#</th>
		        				<th>Title</th>
   	    		        		<th>Speaker</th>
        	    			</tr>
        	    		</thead>
                		<tbody>
		        		<?php	foreach($unreviewed as $r) { ?>	
		        			<tr style="cursor: pointer" answer_id="<?= $r['answer_id'] ?>">
							<td><?= $r['answer_id'] ?></td>
							<td><?php if(isset($r['Title'])) { ?>
                                <?= $r['Title'] ?>
                            <?php }else{ ?>
                                <?= "Confirmation proposal no. " . $r['answer_id'] ?>
                            <?php } ?></td>
							<td><?= $r['speaker'] ?></td>
						</tr>
		        		<?php } ?>
	            		</tbody>
	        		</table>	      
    	    	</div>
	        	<div role="tabpanel" class="tab-pane" id="granted">
            	<table class="table table-striped table-bordered table-hover" id="table-granted" style="background: white; height: auto !important">
		        	<thead>
		        		<tr>
		    				<th>#</th>
	            			<th>Title</th>
    			    		<th>Speaker</th>
					    </tr>
		        	</thead>
		        	<tbody>
		    		<?php 	foreach($granted as $r) { ?>	
		    			<tr style="cursor: pointer" answer_id="<?= $r['answer_id'] ?>">
						<td><?= $r['answer_id'] ?></td>
						<td><?php if(isset($r['Title'])) { ?>
                            <?= $r['Title'] ?>
                        <?php }else{ ?>
                            <?= "Confirmation proposal no. " . $r['answer_id'] ?>
                        <?php } ?></td>
						<td><?= $r['speaker'] ?></td>
					</tr>
		    		<?php } ?>
        			</tbody>
		    	</table>	      
		    </div>
		    <div role="tabpanel" class="tab-pane" id="rejected">
            	<table class="table table-striped table-bordered table-hover" id="table-rejected" style="background: white; height: auto !important">
	        		<thead>
	        			<tr>
	    					<th>#</th>
    	       				<th>Title</th>
        				    <th>Speaker</th>
					    </tr>
	        		</thead>
	        		<tbody>
	    			<?php	foreach($rejected as $r) { ?>	
    					<tr style="cursor: pointer" answer_id="<?= $r['answer_id'] ?>">
						<td><?= $r['answer_id'] ?></td>
						<td><?php if(isset($r['Title'])) { ?>
                            <?= $r['Title'] ?>
                        <?php }else{ ?>
                            <?= "Confirmation proposal no. " . $r['answer_id'] ?>
                        <?php } ?></td>
						<td><?= $r['speaker'] ?></td>
					</tr>
	    			<?php } ?>
	        		</tbody>
	    		</table>	      
	    	</div>
		    </div>
        </div>
	<?php   
	} ?>
    </div> <!-- tab content -->
</div> <!-- container -->
<script>
  $(document).ready(function() {
    // matchHeight the contents of each .card-pf and then the .card-pf itself
    $(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();
    
    var event_id = "<?= $event ?>", token = "<?= $token ?>", fullReviewer = "<?= $username ?>", modalState = false;
    var database = {
	    <?php foreach($unreviewed as $val){ ?> 
		    "<?= $val['answer_id'] ?>": {
			    <?php foreach($val as $key=>$v){
				    if($key != "id" && $key != "form_id") { ?>
					    <?= json_encode(preg_replace('/\s+/', ' ', nl2br($key, false))) ?>: <?= json_encode(preg_replace('/\s+/', ' ', nl2br($v, false))) ?>,
				<?php	}
                }
				echo '"vote": undefined';?>
		    },
	    <?php } 
		 foreach($granted as $val){ ?>
		    
		    "<?= $val['answer_id'] ?>": {
			    <?php foreach($val as $key=>$v){
				    if($key != "id" && $key != "form_id") { ?>
					    <?= json_encode(preg_replace('/\s+/', ' ', nl2br($key, false))) ?>: <?= json_encode(preg_replace('/\s+/', ' ', nl2br($v, false))) ?>,
				    <?php 	  } 
					}		                
				echo '"vote": "1"';?>
		    },
	    <?php } 
		 foreach($rejected as $val){ ?>
		    
		    "<?= $val['answer_id'] ?>": {
			    <?php foreach($val as $key=>$v){
				    if($key != "id" && $key != "form_id") { ?>
					    <?= json_encode(preg_replace('/\s+/', ' ', nl2br($key, false))) ?>: <?= json_encode(preg_replace('/\s+/', ' ', nl2br($v, false))) ?>,
				    <?php 	   
					}
                		}     
               echo '"vote": "-1"';?>		
            },
	    <?php } ?>
    };
    // Initialize the vertical navigation
    $().setupVerticalNavigation(true);

    $('#responseDetail').on('hidden.bs.modal', function (e) {
	  modalState = false;
    });

    function init(){
	$("tbody").off('click', 'tr');
	$("tbody").on('click', "tr",function (){
		var response = $(this).attr("answer_id");
		var record = database[response];
		fillModal(response);
		$("#responseDetail").modal('show');
		modalState = true;
	});
    }

    function nextKey() {
        var response = $("#modalTitle").attr("response");
        var vote = $("#modalTitle").attr("voteGroup");

	var key = $("#table-" + (vote == undefined?"unreviewed":(vote>0?"granted":"rejected")) + " tr[answer_id=" + response +"]").next().attr("answer_id");
	if($.isNumeric(key)){
		return key;
	}
        return null;
    }

    function prevKey() {
	var response = $("#modalTitle").attr("response");
	var vote = $("#modalTitle").attr("voteGroup");

	var key = $("#table-" + (vote == undefined?"unreviewed":(vote>0?"granted":"rejected")) + " tr[answer_id=" + response +"]").prev().attr("answer_id");
	if($.isNumeric(key)){
		return key;
	}
	return null;

    }

    function showErrorToast(message){
        var toast = $(".toast-notifications-list-pf").html()+
                    '<div class="toast-pf alert alert-danger alert-dismissable">'+
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">'+
                    '<span class="pficon pficon-close"></span>'+
                    '</button>'+
                    '<span class="pficon pficon-error-circle-o"></span>'+
                    message+
                    '</div>';
         $(".toast-notifications-list-pf").html(toast);        
    }

    function showSuccessToast(message){
        var toast = $(".toast-notifications-list-pf").html()+
                    '<div class="toast-pf alert alert-success alert-dismissable">'+
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">'+
                    '<span class="pficon pficon-close"></span>'+
                    '</button>'+
                    '<span class="pficon pficon-ok"></span>'+
                    message+
                    '</div>';
         $(".toast-notifications-list-pf").html(toast);        
    }

    function moveRow(response, vote){
        var oldVote = database[response].vote;
        var move = (vote>0?"granted":"rejected");
		database[response].vote = vote;

        var row = $("tr[answer_id='" + response + "']");
        var oldTable = $("tr[answer_id='" + response + "']").parent().parent();
        var order = oldTable.DataTable().order();
        oldTable.DataTable().destroy();
        $("tr[answer_id='" + response + "']").remove();

        $("#table-" + move + " tbody tr td.dataTables_empty").parent().remove();
    	$("#table-" + move).DataTable().destroy();
        if(oldVote == undefined){
            var count = parseInt($("#unreviewed-count").html());
            $("#unreviewed-count").html(count-1);

            if(vote > 0){
                count = parseInt($("#granted-count").html());
                $("#granted-count").html(count+1);
            } else if (vote < 0) {
                count = parseInt($("#rejected-count").html());
                $("#rejected-count").html(count+1);
            }
        } else {
            if(oldVote > 0){
                var count = parseInt($("#granted-count").html());
                $("#granted-count").html(count-1);
                count = parseInt($("#"+move+"-count").html());
                $("#"+move+"-count").html(count+1);
            } else if(oldVote < 0){
                var count = parseInt($("#"+move+"-count").html());
                $("#"+move+"-count").html(count+1);
                count = parseInt($("#rejected-count").html());
                $("#rejected-count").html(count-1);
            }
        }
        $("#table-" + move + " tbody").append(row);
	$(".table").DataTable({paging: false});
	oldTable.DataTable({"order": order});
	init();   
    }


    function sendVote(vote, response, user) {
        var voted = vote;

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/accept/');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function() {
            try{
                var data = JSON.parse(xhr.responseText);
            } catch (e) {
                $("#responseDetail").modal('hide');
                showErrorToast(xhr.responseText);
                return;
            }
            if(data.result != 'success'){
                $("#responseDetail").modal('hide');
                showErrorToast(data.reason);
            }else{
                moveRow(response, vote);
            }
        };

        xhr.send(jQuery.param({'token': token, 'event': event_id, 'user': user, 'vote': voted, 'booking': true}));
    }

    function fillModal(keys){
	    if(keys != null){
        	var record = database[keys];
        	if('Title' in record){
        	    $("#modalTitle").html("<b>" + record.Title + "</b>");
        	} else {
        	    $("#modalTitle").html("Confirmation proposal no. <b>" + keys + "</b>");
        	}
    		var html = "";
	    	$.each(record, function (key, val){
	       		if(key != "answer_id" && key != "vote" && key != "user_id"){
	    			html += "<p><label>" + key + "</label><br>"+ val+"</p>";
	    		}
	    	});
	    	$("#modalTitle").attr("voteGroup", record.vote);
	    	$("#modalTitle").attr("response", keys);
    		$(".modal .active").removeClass("active");
	    	$("#tabActive").addClass("active");
	    	$("#modalBody").addClass("active");
	    	$("#modalBody").html(html);
	    	$("#responseDetail").animate({scrollTop: 0}, 100);
        } else {
            $("#responseDetail").modal('hide');
        }
	    return true;
	}

    $("#skip").click(function (){
        var nextKeys = nextKey();
	    fillModal(nextKeys);        
    });

    $("#prev").click(function (){
	    var prevKeys = prevKey();
	    fillModal(prevKeys);
    });

    $(window).keydown(function (event){
	    if(modalState){
		    if(event.keyCode == 39){ // ArrowRight
			    var nextKeys = nextKey();
			    fillModal(nextKeys);
		    }

		    if(event.keyCode == 37){ // ArrowLeft
			    var prevKeys = prevKey();
			    fillModal(prevKeys);
		    }
	    }
    });

    $("#grant").click(function (){
	    var nextKeys = nextKey(),
	    user = database[$("#modalTitle").attr("response")]['user_id'],
        response = $("#modalTitle").attr("response");

	    if(fillModal(nextKeys)){
		    sendVote(1, response, user);
    	}
    });

    $("#reject").click(function (){
	    var nextKeys = nextKey(),
	    user = database[$("#modalTitle").attr("response")]['user_id'],
        response = $("#modalTitle").attr("response");

	    if(fillModal(nextKeys)){
		    sendVote(-1, response, user);
	    }
    });

    init(); 
    $(".table").DataTable({paging:false});
    });
</script>
</body>
</html>  
