span.pf-grab, span.pf-grab-landscape {
  content: '....';
  width: 10px;
  height: 20px;
  display: inline-block;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  line-height: 5px;
  padding: 3px 4px;
  cursor: grab;
  vertical-align: middle;
  margin-top: -1.1em;
  margin-right: 1em;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #cccccc;
  text-shadow: 1px 0 1px black;
}
span.pf-grab::after {
  content: '.. .. .. ..';
}

span.pf-grab-landscape::after {
   content: '.... ....';
}

.pf-grab:active, .pf-grab-landscape:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.help-block {
  margin-top: 0px;
  margin-bottom: 10px;
}

/* Comments */
.comment h4 {
   margin-bottom: 0px;
}

.comment p i {
   margin-bottom: 10px;
}

.close-white {
    opacity: 1 !important;
    color: #fff;
}
