<div class="container-fluid container-cards-pf container-pf-nav-pf-vertical">
    <ol class="breadcrumb" role="navigation" aria-label="breadcrumbs">
        <li><a href="/"><span class="fa fa-home"></span></a></li>
        <li><a href="/admin">Administration</a></li>
        <li><a href="/domains">Domains</a></li>
        <li><a href="/signins/<?= $domain ?>">SignIn settings for <?= $domain ?></a></li>
        <li class="active"><span>OAuth</span></li>
    </ol>
	<div class="row row-cards-pf">
		<div class="col-xs-12 ">
			<div class="card-pf card-pf-view">
				<?php if($credentials != null){ ?>
					<h1 class="card-pf-title">Add OAuth credentials</h1>
				<?php }else{ ?>
					<h1 class="card-pf-title">Update OAuth credentials</h1>
				<?php } ?>
				<div class="card-pf-body">
					<form class="profile" action="/signins" method="post">
						<input type="hidden" name="_Token" value="<?= $token ?>">
						<input type="hidden" name="action" value="<?= $action ?>">
						<input type="hidden" name="service" value="<?= $service ?>">
						<input type="hidden" name="origin_domain" value="<?= $domain ?>">
						<input type="hidden" name="old_domain" value="<?= (!empty($credentials)?$credentials['domain']:'') ?>">
						<input type="hidden" name="_method" value="post">
						<div class="form-group">
							<label class="control-label" for="domain">Domain</label>
							<input type="text" maxlength="256" class="form-control" value="<?= (!empty($credentials)?$credentials['domain']:$domain) ?>" name="domain" required>
							<span class="help-block">Enter domain used for OAuth (e.g. foo.example.com - without http/https at the beginning).</span>
						</div>
						<div class="form-group">
							<label class="control-label" for="callback">Return URL</label>
							<input type="text" maxlength="1024" class="form-control" value="<?= (!empty($credentials)?$credentials['callback']:'https://' . $domain . '/auth/' . $service . '/answer') ?>" name="callback" required>
							<span class="help-block">Enter authorization callback URL (set proper protocol http/https and replace foo.example.com by your domain).</span>
						</div>
						<div class="form-group">
							<label class="control-label" for="client_id">Client ID</label>
							<div class="input-group">
								<input type="password" maxlength="150" class="form-control" value="<?= (!empty($credentials)?$credentials['client_id']:'') ?>" name="client_id" required>
								<span class="input-group-addon" for="client_id"><span class="glyphicon glyphicon-eye-open"></span></span>
							</div>
							<span class="help-block">Enter Client ID generated by SignIn provider.</span>
						</div>
						<div class="form-group">
							<label class="control-label" for="client_secret">Client Secret</label>
							<div class="input-group">
								<input type="password" maxlength="150" class="input-group form-control" value="<?= (!empty($credentials)?$credentials['client_secret']:'') ?>" name="client_secret" required>
								<span class="input-group-addon" for="client_secret"><span class="glyphicon glyphicon-eye-open"></span></span>
							</div>
							<span class="help-block">Enter Client Secret generated by Sign In provider.</span>
						</div>	
						<div class="form-group">
							<label class="control-label" for="name">Application name</label>
							<input type="text" maxlength="1024" class="form-control" value="<?= (!empty($credentials)?$credentials['name']:'') ?>" name="name" required>
							<span class="help-block">Enter Application name.</span>
						</div>						
						<div class="form-group">
							<span>
								<input type="submit" class="btn btn-primary" name="save" value="Save">
							</span>

						</div>
					</form> <!-- end form -->	

				</div> <!-- end card body -->
			</div> <!-- end card -->
        </div> <!-- cols -->
    </div> <!-- row -->
</div> <!-- container -->
<script>
  $(document).ready(function() {
    // matchHeight the contents of each .card-pf and then the .card-pf itself
    $(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();

    // Initialize switch buttons
    $(".bootstrap-switch").bootstrapSwitch();

    $(".input-group-addon").click(function(){
	var field = $(this).attr("for");
	var state = $("input[name="+field+"]").attr("type");
	if(state == "text"){
		$("input[name="+field+"]").attr("type","password");
	}else{
		$("input[name="+field+"]").attr("type","text");
	}
    });
    // Initialize the vertical navigation
    $().setupVerticalNavigation(true);
  });
</script>
</body>
</html>
 
